* {
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 46.5px;
    background-color: black;
}

#nav > li {
    display: inline-block;
    padding: 12px 24px; 
    position: relative;
}

#nav > li > a {
    line-height: 22.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#nav > li:hover {
    background-color: grey;
}

#nav > li:hover > a {
    color: black; 
}

#subnav {
    /* display: none; */
    position: absolute;
    top: 45px; 
    left: 0px; 
}

#subnav > li {
    display: block;
}

#subnav > li > a {
    text-decoration: none;
    color: black; 
}
#slider {

}

#content {

}

#footer {

}
